* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    background-color: #1d181f;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 15px;
}

.name{
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

h2{
    color: gray; 
    font-size: 25px;
}

.text{
    font-size: 18px;
    padding-left: 35px;
}

.cod{
    font-size: 18px;
    margin-left: 35px; 
}

a{
    text-decoration: none;
    color: gray;
    transition: color 0.5s;
    font-size: 25px;
}
  
a:hover {
    color: whitesmoke;
}

li{
    list-style: none;
    padding-top: 15px; 
    font-size: 18px;  
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 45px;
    text-decoration: none;
    color: gray;
    transition: color 0.5s;
    font-size: 25px;
}

     
 /*   .container {
    max-width: 1440px;
    margin: 0 auto;
    }
    body {
        background-color: bisque;
    }
    h1{
        color: slateblue;
        text-align: center;
    }
    h2{
        color: blueviolet;
        text-align: center;
    }
    header {
        background-color: aquamarine;
        text-align: left;
    }
    
    footer {
        background-color: aqua;
        text-align: center;
    }*/